<form style="width: 50%;margin: 0 15px;" method="POST" action="/nguoi-day/store">
  <div class="form-group">
    <label for="exampleInputEmail1">name</label>
    <input type="text" class="form-control" id="" name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">age</label>
    <input type="text" class="form-control" id="" name="age">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">img</label>
    <input type="text" class="form-control" id="" name="img">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">infor</label>
    <input type="text" class="form-control" id="" name="information">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>