<div class="mt-4" style="display: flex;">
    <div style="width: '300px'; margin: '10px';">
        <h2>{{tcl.name}} </h2>
        <img src="{{tcl.img}}" alt="avatar">
        <div class="mt-2">
            {{tcl.information}}
        </div>
    </div>
</div>